nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.pt-3.pb-3
	.container-fluid
		a.navbar-brand(href='index.html') Book App
		button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarNav.collapse.navbar-collapse.flex.justify-content-lg-between
			ul.navbar-nav
				li.nav-itemZ#home-link
					a.nav-link.active(aria-current='page' href='index.html') Home
				li.nav-item#add-new-book-link
					a.nav-link(href='new-book-page.html') Add new book
			.text-white#currentUserName
			ul.navbar-nav
				li.nav-item#open-sign-in
					a.nav-link Sign in
				li.nav-item#open-log-in
					a.nav-link Log in
				li.nav-item#log-out
					a.nav-link Log out

